@media screen and (max-width: 900px){
    .description__container{
        background-color: #b0c4de;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-bottom: solid;
        box-shadow: grey;
    }

    .description__container .resume--image{
        width: 100%;
    }

    .description__container .description{
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin: 10px;
    }

    .description__container .description p{
        font-size: 20px;
    }

    .description__container .description a{
        font-size: 20px;
    }
}