@media screen and (max-width: 500px){
    .summary__container{
        height: 50%;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background-color: inherit;
        box-shadow: black;
        border-bottom: solid;
    }

    .summary__image{
        position: absolute;
        top: 2%;
        left: 5%;
        width: 50%;
    }

    .summary__text{
        position: absolute;
        top: 22%;
        left: 20%;
        width:80%;
        height: auto;
    }

    .summary__text h2{
        font-family: 'Courgette', cursive;
        font-size:25px;
    }
}