.about-me.description-container{
    height: 900px;
    width: 800px;
    position: absolute;
    top: 100px;
    left: 550px;
    text-align: center;
    overflow: hidden;
}

.about-me.description-container h1{
    text-align: center;
    font-size: 40px;
}

.about-me.description-container .description{
    height: 850px;
    width: inherit;
    overflow: hidden;
    position: absolute;
    top: 150px;
}

.about-me.description-container .description p{
    font-size: 20px;
}

.about-me.description-container a{
    font-size: 20px;
}

.about-me.description-container a:hover{
    opacity: 0.6;
}

@media screen 
  and (max-width: 500px) 
  and (orientation: portrait){
    .about-me.description-container{
        height: 400px;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0px;
        text-align: center;
        overflow: hidden;
    }

    .about-me.description-container h1{
        text-align: center;
        font-size: 25px;
    }

    .about-me.description-container .description{
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 50px;
    }

    .about-me.description-container .description p{
        font-size: 15px;
    }

    .about-me.description-container a{
        font-size: 15px;
    }
}

@media screen 
  and (max-width: 500px) 
  and (orientation: landscape)
  {
    .about-me.description-container{
        height: 400px;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0px;
        text-align: center;
        overflow: hidden;
    }

    .about-me.description-container h1{
        text-align: center;
        font-size: 25px;
    }

    .about-me.description-container .description{
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 70px;
    }

    .about-me.description-container .description p{
        font-size: 15px;
    }

    .about-me.description-container a{
        font-size: 15px;
    }
}  