.resume-container{
	height: 614px;
	width: 500px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	left: 50px;
}

@media screen 
  and (max-width: 500px)  
  and (orientation: portrait){
    .resume-container{
	height: 614px;
	width: 500px;
	overflow: hidden;
	position: absolute;
	top: 430px;
	left: 0px;
	}    
}

@media screen 
  and (max-width: 500px) 
  and (orientation: landscape)
  {
  	.resume-container{
	height: 614px;
	width: 500px;
	overflow: hidden;
	position: absolute;
	top: 430px;
	left: 0px;
	}    
}
