@import url(/assets/common_assets/navbar-88cc4dd9c667784a75ead86754ad9331e52d87229c0492f3aac2dddb107c4b5f.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-6d9f7955cb47c8cc4fef8faf3a39c546a48b4ad44608ddb847935c39ce592c91.css);
@import url(/assets/home_page/image-component-7261725e357d4ebeea18689dac78007ae7c72ffe139725fbb85f2e69aa1e0fd7.css);

@import url(/assets/project_page/projects-page-4a4dfd0db8a7a44913351c67c6096b43318678ae76cc32386cd0e5480436912b.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-751059a6d77e4bdb567a1828d18630e2a4cf6d14701d75ce0be3e8343eb04f30.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-ed26a0e244fc219b2c28bad0c2a809d1f0eb3de9984974eca8cc5619e7d1c176.css);

@import url(/assets/about_me_page/about-me-page-c6c6cb99d3138b845ca981a15c1104ad2d9447a7fe74ba64760a5b8cb9f63415.css);
@import url(/assets/about_me_page/resume-c0abacac741f1683aa0e869a6be2f33ec4420984a2d23b858e1c42c193853985.css);
@import url(/assets/about_me_page/description-component-4c2783dbcc8d9876bef7a115f5d08940776fe7532f0faca315b84b1bb5e60cd6.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
