@import url(/assets/common_assets/navbar-51ae601096da68a190d141f992834d1b19033002fa873d30fe99db5226b8cef7.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-23c21411dfd6a164d6e59f82c4b94137ba3c8bd366463e05fed97f8719d8cb30.css);
@import url(/assets/home_page/image-component-09504877e47ccf92b06cb003a11bb27065c19221546a3f08e95ef9396ba3aae0.css);

@import url(/assets/project_page/projects-page-a70f2d2037950251d6b18bdbf23c58745abb643216867d9707462580cac9fd1f.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-4a5dae5367d645691ab62e09705346cdede281f979aa18c6108096deeda13cc4.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-8cf6077f6a19a45fa352e17f5decefe345adf331fb591b49dc0c3f544b92ddf8.css);

@import url(/assets/about_me_page/about-me-page-63dafd472c0c957dc2503a3dc6d0c795bdb297712c3799ab9bf63484fe23c86e.css);
@import url(/assets/about_me_page/resume-83158a01e0b191ee6aea1c6e2ec6fd272fbd3f95a9b46e1a6a98540e2027ef1c.css);
@import url(/assets/about_me_page/description-component-b9be1fbba8fd69722280c9374d96ea65c89f726c8a91f1195b15d95442d01880.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
