@import url(/assets/common_assets/navbar-b36bbeb542cecdf7045ce443040b7c0804e8222c933a04d7293698dba75a4bbe.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-28e9f471cd81fda549e4da02be5adf506c1f89ff7af8a09734457b3c9c5e87fe.css);
@import url(/assets/home_page/image-component-4040057ba8bc1da1667a7bc86ad12f35cf63f4096d95b744dfe87d7c788fe841.css);

@import url(/assets/project_page/projects-page-43faad97936db9ba53f9f9ad3605bf8aa71c2876f95d94a43ce55b2bf2064228.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-1a5f24994f333b42289ef981ed59943a79a87e9619faa40f2ea57328d008a739.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-438e13d4db527fbf8ad53e21ac21aadfd97bb92a44c670e6304edf6e0ed7057a.css);

@import url(/assets/about_me_page/about-me-page-4b9cd726f320167b95562443de8b8680e482e6589a57a37b16d3b952e713160d.css);
@import url(/assets/about_me_page/resume-c4d1389bd12723850eaab548d72ec06f0f9f5963a87b3429795c5032eb1f050e.css);
@import url(/assets/about_me_page/description-component-7a77097eee8a57d983de92c56a718b4a26781c54852598ef9cf9e64a6ffd34e2.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
