@import url(/assets/common_assets/navbar-02a841452c6dec6d4af1add0836022c6df62b3bfc85d33b326d2a19cbeafa9a4.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-61c907bdd18b54202b6e7858c6fa0d527906cdde8c9990a478406af38ade0610.css);
@import url(/assets/home_page/image-component-fe4ab8358914fa42fe39260523dd171db5f44a9b905ff6cd37cde10fa9363970.css);

@import url(/assets/project_page/projects-page-d85d0a90f6c35af472f7b3fc2d655ed28715af60b5c9a84e4dbdd8891c625c05.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-de5829364b58fba7c086fb7a6ca7c74d2948ab24603872927fd3817fb2aba9d8.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-fffab7b11158cfe6c57d493e5fcbb0779eb76249cec96973a36368cb6e42eaea.css);

@import url(/assets/about_me_page/about-me-page-82c4044e9368c36249c53e82ef69b70fd611ec056bc3a266e29fcc3faf4451f2.css);
@import url(/assets/about_me_page/resume-b1c978c72b0233b15d83d4f9c068e078eb5977fc6f6209931d87228e09bb2f12.css);
@import url(/assets/about_me_page/description-component-7779691316d390324baffd67b8ef728524c534c027542b3939109c8377f6af9a.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}

@media screen 
  and (max-width: 500px)  
  and (orientation: portrait){
    body{
    height: 1100px;
    overflow: hidden;
    }    
}

@media screen 
  and (max-width: 500px) 
  and (orientation: landscape)
  {
    body{
    height: 1100px;
    overflow: hidden;
    }    
}
