@import url(/assets/common_assets/navbar-02a841452c6dec6d4af1add0836022c6df62b3bfc85d33b326d2a19cbeafa9a4.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-61c907bdd18b54202b6e7858c6fa0d527906cdde8c9990a478406af38ade0610.css);
@import url(/assets/home_page/image-component-fe4ab8358914fa42fe39260523dd171db5f44a9b905ff6cd37cde10fa9363970.css);

@import url(/assets/project_page/projects-page-f45b02fbd02c6d18f52afd5f266fc0390c756c45f2b812b245e8d60d73c5ef83.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-de5829364b58fba7c086fb7a6ca7c74d2948ab24603872927fd3817fb2aba9d8.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-263e40fe165e4c553afd949a52c3441e23c2d00f44ae6cd54c9ae73c15b2de27.css);

@import url(/assets/about_me_page/about-me-page-6458617e6a5c65b9c7ba72f30d89ecb5293d96c69e61ea819d4e505b21e43445.css);
@import url(/assets/about_me_page/resume-b1c978c72b0233b15d83d4f9c068e078eb5977fc6f6209931d87228e09bb2f12.css);
@import url(/assets/about_me_page/description-component-313fe8eb933460c01612d6cf2f203cde9af0b5cc334674f098996fef7549c8a2.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
