@import url(/assets/common_assets/navbar-2717c520029e9068b225a9fe5897afa61e529952098adebcbcccb44cc13204ec.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-689c27fc862ac01f0dfb8eeae32ea3b90268973e9180b50c07e40fc2eb01c88e.css);
@import url(/assets/home_page/image-component-599977a6b4dc34d740e29a27ad83d737efae39acb5fc9c69f00e33638e034044.css);

@import url(/assets/project_page/projects-page-a70f2d2037950251d6b18bdbf23c58745abb643216867d9707462580cac9fd1f.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-4a5dae5367d645691ab62e09705346cdede281f979aa18c6108096deeda13cc4.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-8cf6077f6a19a45fa352e17f5decefe345adf331fb591b49dc0c3f544b92ddf8.css);

@import url(/assets/about_me_page/about-me-page-63dafd472c0c957dc2503a3dc6d0c795bdb297712c3799ab9bf63484fe23c86e.css);
@import url(/assets/about_me_page/resume-9e040a5f8bcca4f7a655891b7f9413bf5073799747296d6d75ad14f553aa46a3.css);
@import url(/assets/about_me_page/description-component-58cdad8d27da6a7e33fe2227218d448cbd2a34081757c4d55767c4b1c8921fa1.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
