@import url(/assets/common_assets/navbar-02a841452c6dec6d4af1add0836022c6df62b3bfc85d33b326d2a19cbeafa9a4.css);
@import url(/assets/common_assets/footer-495c0471d604b3954bdef273902644bbdc9e62bbffcba0fc0547fe5fc79a974d.css);
@import url(/assets/common_assets/background-caab40ea333f6946d9d9149d11ed3a1f3f6a6ba627818f64994807df89235bd4.css);

@import url(/assets/home_page/summary-component-61c907bdd18b54202b6e7858c6fa0d527906cdde8c9990a478406af38ade0610.css);
@import url(/assets/home_page/image-component-fe4ab8358914fa42fe39260523dd171db5f44a9b905ff6cd37cde10fa9363970.css);

@import url(/assets/project_page/projects-page-a70f2d2037950251d6b18bdbf23c58745abb643216867d9707462580cac9fd1f.css);
@import url(/assets/project_page/portfolio_page/portfolio-page-de5829364b58fba7c086fb7a6ca7c74d2948ab24603872927fd3817fb2aba9d8.css);
@import url(/assets/project_page/telegram_bot_page/telegram-bot-page-263e40fe165e4c553afd949a52c3441e23c2d00f44ae6cd54c9ae73c15b2de27.css);

@import url(/assets/about_me_page/about-me-page-63dafd472c0c957dc2503a3dc6d0c795bdb297712c3799ab9bf63484fe23c86e.css);
@import url(/assets/about_me_page/resume-e12464fde3661a169e79409b609c7e60aed5ee964dd3ce3298d465cd6d0bf16b.css);
@import url(/assets/about_me_page/description-component-3e8d96aec53bfab16e630be702020ee5811e9ada41aa647fce36cc3aebc8f39e.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}
