@media screen and (min-width: 600px){
    .description__container{
        background-color: #b0c4de;
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
        overflow: hidden;
        border-bottom: solid;
        box-shadow: grey;
    }

    .description__container .resume--image{
        position: absolute;
        left: 0%;
        height: inherit;
        width: 50%;
    }

    .description__container .description{
        width: 40%;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translateY(-50%);
    }

    .description__container .description p{
        font-size: 20px;
    }

    .description__container .description a{
        font-size: 20px;
    }
}