@media screen and (min-width: 500px){
    .summary__container{
        height: 45%;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background-color: inherit;
        box-shadow: black;
        border-bottom: solid;
    }

    .summary__image{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 30%;
    }

    .summary__text{
        position: absolute;
        top: 10%;
        left: 40%;
        width:60%;
        height: auto;
    }

    .summary__text h2{
        font-family: 'Courgette', cursive;
        font-size:30px;
    }
}