.home.summary-container{
    height: 670px;
    width: 50%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    background-color: inherit;
}

.home.summary-container .text{
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 75px;
}


.home.summary-container h2{
    width:100%;
    font-family: 'Courgette', cursive;
    font-size:45px;
}