.home.summary-container{
    height: 640px;
    width: 50%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    background-color: inherit;
}

.home.summary-container .text{
    position: absolute;
    top: 55px;
}


.home.summary-container h2{
    width:100%;
    font-family: 'Courgette', cursive;
    font-size:45px;
}

@media screen 
  and (max-width: 500px) 
  and (orientation: portrait){
    .home.summary-container{
        height: 340px;
        width: 100%;
        position: absolute;
        top: 300px;
        text-align: center;
        overflow: hidden;
        background-color: inherit;
    }

    .home.summary-container .text{
        position: absolute;
        top: 305px;
    }


    .home.summary-container h2{
        width:100%;
        font-family: 'Courgette', cursive;
        font-size:25px;
    }    
}

@media screen 
  and (max-height: 500px)
  and (orientation: landscape)
  {
    .home.summary-container{
        height: 340px;
        width: inherit;
        position: absolute;
        top: 300px;
        text-align: center;
        overflow: hidden;
        background-color: inherit;
    }

    .home.summary-container .text{
        position: absolute;
        top: 305px;
    }


    .home.summary-container h2{
        width:100%;
        font-family: 'Courgette', cursive;
        font-size:25px;
    }
}