.telegram-bot-page.body-container{
    height: 670px;
    width: 100%;
    position: absolute;
    top: 30px;
    color: black;
}

.telegram-bot-page.body-container .description-container{
    height: 450px;
    width: inherit;
    overflow: hidden;
    position: absolute;
    top: 150px;
    text-align: center;
}

.telegram-bot-page.body-container .description-container .text-container{
    font-size: 25px;
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: left;
}