.navbar{
    width: 100%;
    height: 30px;
    background-color: black;
    overflow: hidden;
}

.navbar-container{
    width: inherit;
    height: inherit;
    text-align: right;
}

.navbar-container a{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 2vw;
}

.navbar-container a:hover{
    background-color: gray;
}

@media screen 
  and (max-width< 500px)  
  and (orientation: portrait){
    .navbar-container a{
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 2vw;
    }
}

@media screen 
  and (max-width< 500px)  
  and (orientation: landscape)
  {
    .navbar-container a{
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 2vw;
    }
}  
