@import url("desktop/footer.css");
@import url("desktop/summary-component.css");
@import url("desktop/description-component.css");
@import url("desktop/projectlist.css");
@import url("desktop/ownerpage.css");

@import url("mobile/footer.css");
@import url("mobile/summary-component.css");
@import url("mobile/description-component.css");
@import url("mobile/projectlist.css");

*{
    margin: 0px;
    padding: 0px;
}

.homepage__container{
    height: 100vh;
}

body {
    background: linear-gradient(-45deg, #00ffff, #0000FF, #00bfff, #1e90ff);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}