@import url("desktop/footer.css");
@import url("desktop/summary-component.css");
@import url("desktop/description-component.css");
@import url("desktop/projectlist.css");
@import url("desktop/ownerpage.css");

@import url("mobile/footer.css");
@import url("mobile/summary-component.css");
@import url("mobile/description-component.css");
@import url("mobile/projectlist.css");

*{
    margin: 0px;
    padding: 0px;
}

.homepage__container{
    height: 100vh;
}

body {
    background-color: #00ffff;
    background-size: 600% 600%;
    height: 100vh;
}