@import url("stylesheets/common_assets/navbar.css");
@import url("stylesheets/common_assets/footer.css");
@import url("stylesheets/common_assets/background.css");

@import url("stylesheets/home_page/summary-component.css");
@import url("stylesheets/home_page/image-component.css");
@import url("stylesheets/home_page/description-component.css");

@import url("stylesheets/project_page/projects-page.css");
@import url("stylesheets/project_page/portfolio_page/portfolio-page.css");
@import url("stylesheets/project_page/telegram_bot_page/telegram-bot-page.css");

@import url("stylesheets/about_me_page/about-me-page.css");
@import url("stylesheets/about_me_page/resume.css");
@import url("stylesheets/about_me_page/description-component.css");

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 740px;
    overflow: hidden;
}